manifest {
    mainScript = 'clean.nf'
}

// default parameters
params {
  max_cores = '24'
  cores = '8'
  max_memory = 24.GB
  memory = 8.GB
  help = false
  profile = false

  // input - reads
  nano = ''
  illumina = ''
  illumina_single_end = ''
  fasta = ''
  list = false

  // parameters
  host = false
  own = false
  control = false
  rm_rrna = false
  bbduk = false
  bbduk_kmer = 27
  bbduk_qin = 'auto'
  reads_rna = false

  // folder structure
  output = 'results'
  
  // location for storing the conda or singularity environments
  condaCacheDir = 'conda'
  singularityCacheDir = 'singularity'

  // location for autodownload data like databases
  databases = 'nextflow-autodownload-databases'

  // location for tmp working dirs
  workdir = "/tmp/nextflow-work-$USER"

}

profiles {

    //executors
    local { 
        workDir = params.workdir
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'
    }

    slurm {
        workDir = params.workdir
        executor {
            name = "slurm"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'
    }


    //engines
    docker { 
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.singularityCacheDir
        }
        includeConfig 'configs/container.config'
    }

    conda { 
        conda.cacheDir = params.condaCacheDir
        includeConfig 'configs/conda.config'
    }


    //pre-merged
    standard { 
        workDir = params.workdir
        params.cloudProcess = false
        includeConfig 'configs/local.config'
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    ebi {
  	    params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
  	    params.databases = "/hps/nobackup2/production/metagenomics/$USER/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/singularity/$USER"

        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'

        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config' 
    }

    yoda {
  	    params.workdir = "/hps/nobackup2/metagenomics/$USER/nextflow-work-$USER"
  	    params.databases = "/hps/nobackup2/metagenomics/$USER/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/metagenomics/$USER/singularity"

        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'

        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config' 
    }

    ara {
      	params.workdir = "/beegfs/rna-hta/$USER/work"
  	    params.databases = "/beegfs/rna-hta/nextflow-clean-autodownload/"
        params.condaCacheDir = "/beegfs/rna-hta/$USER/nextflow-conda-cache"

        conda.cacheDir = params.condaCacheDir
        includeConfig 'configs/conda.config' 

        workDir = params.workdir
        
        executor {
            name = "slurm"
            queueSize = 200
        }        
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'

        process {
            clusterOptions = '--partition=s_standard,s_fat,b_standard,b_fat'
            withLabel: smallTask { executor = 'local' }
        }
    }

    // CONFIGURE YOUR PRIVATE CLOUD
    gcloud {             
        params.databases = 'gs://databases-matrice/databases/'
        bucketDir = 'gs://matrice/nextflow-tmp/clean'
        //workDir = "/tmp/nextflow-work-$USER"

        executor { name = 'google-lifesciences' }
 
        google {
            project = 'nextflow-auto-255816'
            zone = 'europe-west1-b' 
        }  

        params.cloudProcess = true
        includeConfig 'configs/node.config'

        docker { enabled = true }
        includeConfig 'configs/container.config'

        cloud { preemptible = true }

        // we need a docker also for basic functionalities in the cloud
        process {
            withLabel: noDocker { cpus = 1; memory = '4.0 GB'; container = 'nanozoo/template:3.8--ccd0653' } 
        }

    }

    

}
