manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
  cores = '2'
  memory = '2'
  help = false
  profile = false

  // input
  nano = 'data/some.fasta'
  illumina = ''
  list = false

  // parameters
  variable1 = 'variable1'
  variable2 = 'variable2'

  // databases
  busco = 'fungi_odb9'

  // workflow adjustments

  // folder structure
  output = 'results'

  // optional profile configurations, only necessary for HPC LSF execution
  workdir = "/tmp/nextflow-work-$USER"
  cloudDatabase = false
  cachedir = false

}

profiles {

    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    conda { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/conda.config' }

    lsf {
        params.cloudProcess = true
        includeConfig 'configs/lsf.config' }

    ebi {
        params.cloudProcess = true
  	params.workdir = "/hps/nobackup2/production/metagenomics/mhoelzer/nextflow-work-$USER"
  	params.cloudDatabase = "/homes/$USER/data/nextflow-databases/"
  	params.cachedir = "/hps/nobackup2/singularity/$USER"
        includeConfig 'configs/lsf.config' }

    // CONFIGURE PRIVATE CLOUD

    gcloudNAME1 { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://BUCKET/DATABASE-FOLDER/' 
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google { project = 'PROJECT-ID'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }

    
    // NANOZOO CLOUD

    gcloudChris { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://tmp-data-development-christian/databases'
        bucketDir = "gs://tmp-data-development-christian/WORKDIR-FOLDER"
        google {  project = 'development-christian'; zone = 'europe-west1-b' }    
        includeConfig 'configs/googlegenomics.config' }

    gcloudMartin { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://tmp-data-development-martin/databases/'
        bucketDir = 'gs://tmp-data-development-martin/WORKDIR-FOLDER'
        google {  project = 'development-martin'; zone = 'europe-west1-b' }  
        includeConfig 'configs/googlegenomics.config' }

    gcloudAdrian { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://tmp-data-development-adrian/databases'
        bucketDir = 'gs://tmp-data-development-adrian/WORKDIR-FOLDER'
        google {  project = 'development-adrian'; zone = 'europe-west1-b' }  
        includeConfig 'configs/googlegenomics.config' }

    nanozoo { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://BUCKET/databases'
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google {  project = 'PROJECT'; zone = 'europe-west1-b' }         
        includeConfig 'configs/googlegenomics.config' }

}
