workDir = params.workdir
process.executor = 'local'
docker { enabled = true }

        process {
            withLabel: basics { cpus = params.cores ; conda = 'envs/basics.yaml' } 
            withLabel: minimap2 { cpus = params.cores ; conda = 'envs/minimap2.yaml' }
            withLabel: bbmap { cpus = params.cores ;  memory = params.memory ; conda = 'envs/bbmap.yaml' }
        }
