process {
    withLabel: minimap2 {   conda = "$baseDir/envs/minimap2.yaml" }
    withLabel: bbmap {      conda = "$baseDir/envs/bbmap.yaml" }
    withLabel: pysam {      conda = "$baseDir/envs/pysam.yaml" }
    withLabel: samclipy {   conda = "$baseDir/envs/samclipy.yaml" }
    withLabel: multiqc {    conda = "$baseDir/envs/multiqc.yaml" }
    withLabel: fastqc {     conda = "$baseDir/envs/fastqc.yaml" }
    withLabel: nanoplot {   conda = "$baseDir/envs/nanoplot.yaml" }
    withLabel: quast {      conda = "$baseDir/envs/quast.yaml" }
    withLabel: bed_samtools {   conda = "$baseDir/envs/bed_samtools.yaml" }
    withLabel: seqkit {     conda = "$baseDir/envs/seqkit.yaml" }
}
