process {
    withLabel: smallTask {  container = 'nanozoo/samtools:1.14--d8fb865' } 
    withLabel: minimap2 {   container = 'nanozoo/minimap2:2.26--d9ef6b6' }
    withLabel: bbmap {      container = 'nanozoo/bbmap:38.79--8e915d7' } 
    withLabel: multiqc {    container = 'nanozoo/multiqc:1.9--aba729b' }
    withLabel: fastqc {     container = 'nanozoo/fastqc:0.11.9--f61b8b4' }
    withLabel: nanoplot {   container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel: quast {      container = 'nanozoo/quast:5.0.2--e7f0cfe' }
}