process {
    withLabel: basics {     container = 'nanozoo/basics:1.0--da8477a' } 
    withLabel: minimap2 {   container = 'nanozoo/minimap2:2.17--7066fef' }
    withLabel: bbmap {      container = 'nanozoo/bbmap:38.79--8e915d7' } 
    withLabel: multiqc {    container = 'ewels/multiqc:1.9' }
    withLabel: fastqc {     container = 'biocontainers/fastqc:v0.11.9_cv7' }
    withLabel: nanoplot {   container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel: quast {      container = 'staphb/quast:5.0.2' }
}