process {
    withLabel: smallTask    { container = 'nanozoo/samtools:1.24--62fe65d' }
    withLabel: samclipy     { container = 'nanozoo/samtools:1.24--62fe65d' }
    withLabel: minimap2     { container = 'nanozoo/minimap2:2.31--c2b4c91' }
    withLabel: samtools     { container = 'nanozoo/samtools:1.24--62fe65d' }
    withLabel: bwamem2      { container = 'nanozoo/bwa-mem2:2.3--a42e075' }
    withLabel: bwamem2_index { container = 'nanozoo/bwa-mem2:2.3--a42e075' }
    withLabel: bbmap        { container = 'nanozoo/bbmap:38.79--8e915d7' }
    withLabel: multiqc      { container = 'nanozoo/multiqc:1.9--aba729b' }
    withLabel: fastqc       { container = 'nanozoo/fastqc:0.11.9--f61b8b4' }
    withLabel: nanoplot     { container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel: quast        { container = 'nanozoo/quast:5.0.2--e7f0cfe' }
    withLabel: bed_samtools { container = 'nanozoo/bed_samtools:2.31.1--852feef' }
    withLabel: seqkit       { container = 'nanozoo/seqkit:2.13.0--22ab5cc' }
}
