
workDir = params.workdir
cloud { preemptible = true }
docker { enabled = true }
            
    process {   
        executor = 'google-pipelines'

    withLabel: basics { cpus = 1 ; memory = '4 GB'; container = 'nanozoo/basics:1.0--da8477a' } 
    withLabel: minimap2 { cpus = 12 ; memory = '4 GB'; container = 'nanozoo/minimap2:2.17--7066fef' }
    withLabel: bbmap { cpus = 12 ; memory = '8 GB'; container = 'nanozoo/bbmap:38.79--8e915d7' } 
    }