process {
    withLabel: minimap2 {   cpus = params.cores }
    withLabel: bbmap {      cpus = params.cores ; memory = params.memory  }
    withLabel: samclipy {   cpus = 1 }
    withLabel: fastqc {     cpus = 2 }
    withLabel: multiqc {    cpus = 2 }
    withLabel: nanoplot{    cpus = params.cores }
    withLabel: quast{       cpus = params.cores }
    withLabel: smallTask {  cpus = 1 }
}
