workDir = params.workdir
process.executor = 'local'
docker { enabled = true }

        process {
            withLabel: basics { cpus = params.cores ; container = 'nanozoo/basics:1.0--da8477a' } 
            withLabel: minimap2 { cpus = params.cores ; container = 'nanozoo/minimap2:2.17--caba7af' }
            withLabel: bbmap { cpus = params.cores ; container = 'nanozoo/bbmap:38.79--07fb785' } 
        }

