workDir = params.workdir

executor {
    name = "local"
    cpus = params.max_cores
    memory = params.max_memory
}

process {
    withLabel: basics { cpus = params.cores } 
    withLabel: minimap2 { cpus = params.cores }
    withLabel: bbmap { cpus = params.cores ; memory = params.memory  }
    withLabel: smallTask { cpus = 1 }
}