
workDir = params.workdir

executor {
    name = "lsf"
    //queueSize = 1000
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = params.cachedir
    //temp = "/hps/nobackup2/singularity/mhoelzer/build/.singularity/tmp"
}
            
process {   
	cache = "lenient"
	//errorStrategy = "retry"
    //maxRetries = 1

    withLabel: label { cpus = 4 ; memory = '4 GB' ; container = 'continuumio/miniconda3' } 
}
