
workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 100
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = params.cachedir
}
            
process {   
	cache = "lenient"
	//errorStrategy = "retry"
    //maxRetries = 1

    withLabel: basics { cpus = 2 ; memory = '16 GB'; container = 'nanozoo/basics:1.0--da8477a' } 
    withLabel: minimap2 { cpus = 12 ; memory = '15 GB'; container = 'nanozoo/minimap2:2.17--caba7af' } 
    withLabel: bowtie2 { cpus = 12 ; memory = '22 GB'; container = 'nanozoo/bowtie2:2.3.5--a14d3f5' } 

}
