process {
    withLabel: basics {     cpus = 12;  memory = 8.GB } 
    withLabel: minimap2 {   cpus = 24;  memory = 24.GB }
    withLabel: bbmap {      cpus = 24;  memory = 24.GB }
    withLabel: smallTask {  cpus = 1;   memory = 2.GB }
    withLabel: fastqc {     cpus = 2;   memory = 4.GB }
    withLabel: nanoplot{    cpus = 8;   memory = 8.GB }
    withLabel: quast{       cpus = 8;   memory = 8.GB }
}