process {
    withLabel: minimap2     { cpus = {24 * task.attempt} ; memory = {24.GB * task.attempt}; maxRetries = 3 ; errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }; }
    withLabel: bbmap        { cpus = {24 * task.attempt} ; memory = {24.GB * task.attempt}; maxRetries = 3 ; errorStrategy = { task.exitStatus in 1 ? 'retry' : 'terminate' }; }
    withLabel: smallTask    { cpus = 1;   memory = 2.GB }
    withLabel: pysam        { cpus = 2;   memory = 4.GB }
    withLabel: fastqc       { cpus = 2;   memory = 4.GB }
    withLabel: multiqc      { cpus = 4;   memory = 4.GB }
    withLabel: nanoplot     { cpus = 8;   memory = 8.GB }
    withLabel: quast        { cpus = 8;   memory = 8.GB }
}
