/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    // Limit resources so that this can run on GitHub Actions
    max_cores   = 2
    cores = 1
    max_memory = 6.GB
    memory = 6.GB
}